*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: rgb(216, 216, 216);
    position: relative;
}
.point{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgb(228, 147, 147);
    position: absolute;
    top: 48%;
    left: 48%;
}

.hourhand,.min,.sec{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 40%;
    background-color: rgb(36, 89, 83);
    transform: rotate(-90deg);
    transform-origin: left;

}
.hourhand{
    width: 20%;
    background-color: rgb(64, 142, 145);
    height: 8px;
}
.sec{
    border-radius: 50%;
    background-color: rgb(228, 147, 147);
}

.hour{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    color: rgb(36, 89, 83);
}

.hour1{
    top: 40px;
    right: 27%;
}
.hour2{
    top: 125px;
    right: 9%;
}
.hour3{
    top: 235px;
    right: 2%;
}
.hour4{
    top: 345px;
    right: 9%;
}
.hour5{
    top: 430px;
    right: 26%;
}
.hour6{
    bottom: 10px;
    left: 49%;
}
.hour7{
    top: 430px;
    left: 26%;
}
.hour8{
    top: 345px;
    left: 9%;
}
.hour9{
    top: 235px;
    left: 2%;
}
.hour10{
    top: 125px;
    left: 9%;
}
.hour11{
    top: 40px;
    left: 26%;
}
.hour12{
    top: 10px;
    left: 48%;
}